### **Log 3**

**Objectives**
  - [5. Data Structures](https://docs.python.org/3/tutorial/datastructures.html)

5.1. More on Lists
The list data type has some more methods. Here are all of the methods of list objects:

list.append(x)
Add an item to the end of the list. Similar to a[len(a):] = [x].

list.extend(iterable)
Extend the list by appending all the items from the iterable. Similar to a[len(a):] = iterable.

list.insert(i, x)
Insert an item at a given position. The first argument is the index of the element before which to insert, so a.insert(0, x) inserts at the front of the list, and a.insert(len(a), x) is equivalent to a.append(x).

list.remove(x)
Remove the first item from the list whose value is equal to x. It raises a ValueError if there is no such item.

list.pop([i])
Remove the item at the given position in the list, and return it. If no index is specified, a.pop() removes and returns the last item in the list. It raises an IndexError if the list is empty or the index is outside the list range.

list.clear()
Remove all items from the list. Similar to del a[:].

list.index(x[, start[, end]])
Return zero-based index in the list of the first item whose value is equal to x. Raises a ValueError if there is no such item.

The optional arguments start and end are interpreted as in the slice notation and are used to limit the search to a particular subsequence of the list. The returned index is computed relative to the beginning of the full sequence rather than the start argument.

list.count(x)
Return the number of times x appears in the list.

list.sort(*, key=None, reverse=False)
Sort the items of the list in place (the arguments can be used for sort customization, see sorted() for their explanation).

list.reverse()
Reverse the elements of the list in place.

list.copy()
Return a shallow copy of the list. Similar to a[:].

In [1]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']
fruits.count('apple')

fruits.count('tangerine')

fruits.index('banana')

fruits.index('banana', 4)  # Find next banana starting at position 4

fruits.reverse()
fruits

fruits.append('grape')
fruits

fruits.sort()
fruits

fruits.pop()

'pear'

**Using Lists as Stacks**

In [4]:
stack = [3, 4, 5]
stack.append(6)
stack.append(7)
stack.pop()
stack.pop()
stack.pop()
stack

[3, 4]

**Using Lists as Queues**

In [5]:
from collections import deque

queue = deque(["Eric", "John", "Michael"])
queue.append("Terry")
queue.append("Graham")
queue.popleft()
queue.popleft()
queue

deque(['Michael', 'Terry', 'Graham'])

**List Comprehensions**

In [6]:
squares = []
for i in range(10):
    squares.append(i * i)

squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [8]:
squares = list(map(lambda x: x * x, range(10)))
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [10]:
squares = [x * x for x in range(10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [11]:
[(x, y) for x in [1, 2, 3] for y in [1, 2, 3] if x != y]

[(1, 2), (1, 3), (2, 1), (2, 3), (3, 1), (3, 2)]

In [12]:
combs = []
for x in [1, 2, 3]:
    for y in [1, 2, 3]:
        if x != y:
            combs.append((x, y))

combs

[(1, 2), (1, 3), (2, 1), (2, 3), (3, 1), (3, 2)]

In [13]:
vec = [-4, -2, 0, 2, 4]
[x*2 for x in vec]

[-8, -4, 0, 4, 8]

In [14]:
[x for x in vec if x >= 0]

[0, 2, 4]

In [16]:
[abs(x) for x in vec]

[4, 2, 0, 2, 4]

In [17]:
freshfruit = ["  banana ", " loganberry   ", " passion fruit   "]
[weapon.strip() for weapon in freshfruit]

['banana', 'loganberry', 'passion fruit']

In [18]:
[(x, x * x) for x in range(6)]

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [19]:
vec = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[num for element in vec for num in element]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [20]:
from math import pi

[str(round(pi, i)) for i in range(1, 6)]

['3.1', '3.14', '3.142', '3.1416', '3.14159']

In [21]:
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12],
]

[[row[i] for row in matrix] for i in range(4)]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [23]:
transposed = []

for i in range(4):
    transposed_row = []
    for row in matrix:
        transposed_row.append(row[i])
    transposed.append(transposed_row)

transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [24]:
list(zip(*matrix))

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

In [22]:
def transpose_matrix(matrix):
    """Transposes a matrix (swaps rows and columns).

    Args:
        matrix: A 2D list representing the matrix to transpose.

    Returns:
        A new 2D list representing the transposed matrix.
    """
    # Get the dimensions of the original matrix
    num_rows = len(matrix)
    num_cols = len(matrix[0]) if matrix else 0  # Handle empty matrix case

    # Create an empty matrix to store the transposed result
    transposed_matrix = [[0] * num_rows for _ in range(num_cols)]

    # Iterate through the original matrix and fill the transposed matrix
    for i in range(num_rows):
        for j in range(num_cols):
            transposed_matrix[j][i] = matrix[i][j]

    return transposed_matrix

# Example usage:
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12],
]

transposed_matrix = transpose_matrix(matrix)
print(transposed_matrix)  # Output: [[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [28]:
a = [-1, 1, 66, 333, 23.4, 2344]

# del removes an item from a list given its index, not value
del a[0]
del a[2:3]
a

[1, 66, 23.4, 2344]

In [29]:
t = 1234, "hello", 3.14
t[0]

1234

In [ ]:
#empty tuple initiates with a parenthesis
empty = ()

# tuple with one value use no parentheses but a trailing comma
singleton = "hello",

In [30]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(basket)                      # show that duplicates have been removed

'orange' in basket                 # fast membership testing

'crabgrass' in basket

{'pear', 'orange', 'apple', 'banana'}

False

In [31]:
# Demonstrate set operations on unique letters from two words

a = set('abracadabra')
b = set('alacazam')
a                                  # unique letters in a

a - b                              # letters in a but not in b

a | b                              # letters in a or b or both

a & b                              # letters in both a and b

a ^ b                              # letters in a or b but not both

{'b', 'd', 'l', 'm', 'r', 'z'}

In [32]:
a = {x for x in "abracadabra" if x not in "abc"}

In [ ]:
tel = {"jack": 4098, "sape": 4139}
tel["guido"] = 4127
tel["jack"]
del tel["sape"]

tel["irv"] = 4127

list(tel)
sorted(tel)

In [33]:
{x: x ** 2 for x in (2, 3, 4)}

{2: 4, 3: 9, 4: 16}

In [ ]:
# When the keys are simple strings, 
# it is sometimes easier to specify pairs using keyword arguments:
dict(sape=4139, guido=4127, jack=4098)

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [35]:
knights = {"gallanahad": "the pure", "robin": "the brave"}

for k, v in knights.items():
    print(k, v)

gallanahad the pure
robin the brave

In [36]:
for i, v in enumerate(["tic", "tac", "toe"]):
    print(i, v)

0 tic
1 tac
2 toe

In [37]:
# use zip() function to loop over two or more sequences at the same time
questions = ["name", "quest", "favorite color"]
answers = ["lancelot", "the holy grail", "blue"]

for q, a in zip(questions, answers):
    print("What is your {0}? It is {1}".format(q, a))

What is your name? It is lancelot
What is your quest? It is the holy grail
What is your favorite color? It is blue

In [38]:
# Loop over a sequnce in reverse, first specify the sequence, then call reversed() on it.

for i in reversed(range(1, 10, 2)):
    print(i)

9
7
5
3
1

In [39]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']

for i in sorted(basket):
    print(i)

apple
apple
banana
orange
orange
pear

In [40]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']

for i in sorted(set(basket)):
    print(i)

apple
banana
orange
pear

In [41]:
import math 

raw_data = [56.2, float('NaN'), 51.7, 55.3, 52.5, float('NaN'), 47.8]

filtered_data = []

for value in raw_data:
    if not math.isnan(value):
        filtered_data.append(value)

filtered_data

[56.2, 51.7, 55.3, 52.5, 47.8]