### **Log 1**
> Day 1  
> 3/17/2025

**Objectives**
  - [1. Whetting Your Appetite](https://docs.python.org/3/tutorial/appetite.html)
  - [2. Using the Python Interpreter](https://docs.python.org/3/tutorial/interpreter.html)
  - [3. An Informal Introduction to Python](https://docs.python.org/3/tutorial/introduction.html)

### **3 Python Calculator**

**3.1.1 Numbers**
Use operators +, - , *, /. Parentheses () for grouping

In [12]:
2 + 2

4

In [13]:
50 - 5 * 6

20

In [14]:
8 / 5 # division always returns a floating point number

1.6

**3 Division cases**   
- / : returns the float  
- //: returns the floor division  
- % : returns the remainder of the division

In [15]:
17 / 3 # classic division returns a float

5.666666666666667

In [16]:
17 // 3 # floor division discards the fractional part

5

In [17]:
17 % 3 # the % operator returns the remainder of the division

2

In [18]:
5 ** 2  # 5 squared

25

In [19]:
2 ** 7  # 2 to the power of 7

128

The **equal sign =** is used to assign a value to a variable.  
If a variable is **not defined** (assigned a value), it will return a **NameError**.

In [20]:
width = 20
height = 5 * 9
width * height

900

In interatctive mode, the last printed expression is assigned to the variable **_**.

In [ ]:
tax = 12.5 / 100
price = 100.50
price * tax
price + _
round(_, 2)

900

**3.1.2 Text**
Use **double or single quotes " " ' '** to enclose a string.

In [22]:
'Span Egg'

'Span Egg'

In [23]:
"Paris yay :)"

'Paris yay :)'

In [24]:
'doesn\'t' # use \' to escape the single quote...

"doesn't"

In [25]:
'"Yes," they said.' # ...or use double quotes instead

'"Yes," they said.'

In [26]:
print("C:\some\name") # here \n means newline!

C:\some
ame

<>:1: SyntaxWarning: invalid escape sequence '\s'
<>:1: SyntaxWarning: invalid escape sequence '\s'
/var/folders/q4/9zg9sbjj6hxdsx18xy5j5ybw0000gn/T/ipykernel_6744/3000426178.py:1: SyntaxWarning: invalid escape sequence '\s'
  print("C:\some\name") # here \n means newline!

In [27]:
print(r"C:\some\name") # note the r before the quote

C:\some\name

In [30]:
print("""\
Usage: thingy [OPTIONS]
    -h                        Display this usage message
    -H hostname               Hostname to connect to
""")

Usage: thingy [OPTIONS]
    -h                        Display this usage message
    -H hostname               Hostname to connect to

In [31]:
# 3 times 'un', followed by 'ium'
3 * 'un' + 'ium'

'unununium'

In [33]:
'Py' 'thon' # Two or more string literals next to each other are automatically concatenated

'Python'

In [34]:
text = ('Put several strings within parentheses '
        'to have them joined together.')
text

'Put several strings within parentheses to have them joined together.'

In [35]:
prefix = 'Py'
prefix 'thon'  # can't concatenate a variable and a string literal
    File "<stdin>", line 1
    prefix 'thon'
            ^^^^^^
SyntaxError: invalid syntax
    ('un' * 3) 'ium'
    File "<stdin>", line 1
        ('un' * 3) 'ium'
                    ^^^^^
SyntaxError: invalid syntax

SyntaxError: invalid syntax (2841168723.py, line 2)

String can be **indexed** with the first character having index 0.

In [36]:
word = "Python"
word[0]  # character in position 0
word[5]  # character in position 5

'n'

In [37]:
word[-1]  # last character
word[-2]  # second-last character

'o'

In [38]:
word[0:2]  # characters from position 0 (included) to 2 (excluded)
word[2:5]  # characters from position 2 (included) to 5 (excluded)

'tho'

In [39]:
word[:2]

'Py'

In [40]:
word[4:]

'on'

In [41]:
word[-2:]

'on'

In [44]:
word[:2] + word[2:]

'Python'

**3.1.3 Lists**
- A group of items in order.
- Items may be different types. Usually the same type.
- List can be indexed and sliced
- List support contatenation
- List is mutable

In [46]:
squares = [1, 4, 9, 16, 25]
squares

[1, 4, 9, 16, 25]

In [47]:
squares[0]  # indexing returns the item

1

In [48]:
squares + [36, 49, 64, 81, 100]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [49]:
cubes = [1, 8, 27, 65, 125]  # something's wrong here
# the cube of 4 is 64, not 65!
cubes[3] = 64  # replace the wrong value
cubes

[1, 8, 27, 64, 125]

Use **list.append() method** to add new items at the end of the list

In [51]:
cubes.append(216)  # add the cube of 6
cubes

[1, 8, 27, 64, 125, 216, 216]

Simple assignment in python refers to the exisiting data, not copies them. Any changes made to the copied list will be reflected to all other copies.

In [ ]:
rgb = ["Red", "Green", "Blue"]
rgba = rgb

id(rgb) == id(rgba)
# True

rgba.append("Alpha")
rgb # Added Aplha to rgb as well

['Red', 'Green', 'Blue', 'Alpha']

**Nest Lists**

In [53]:
a = ["a", "b", "c"]
n = [1, 2, 3]
x = [a, n]
x

[['a', 'b', 'c'], [1, 2, 3]]

In [54]:
x[0][1]

'b'

### 3.2 First Steps Towards Programming

In [55]:
# Fibonacci series:
# the sum of two elements defines the next
a, b = 0, 1
while a < 10:
    print(a)
    a, b = b, a+b

0
1
1
2
3
5
8